
<ion-view view-title="Transfers" hide-back-button="true">
    <ion-nav-view>
        <ion-tabs class="tabs-icon-top">


          <!-- Pets Tab -->
          <ion-tab title="Home" icon="icon ion-home" href="#/home">

          </ion-tab>


          <!-- Adopt Tab -->
          <ion-tab title="Reports" icon="icon ion-heart" href="#/reports">

          </ion-tab>


          <!-- About Tab -->
          <ion-tab title="Transfers" icon="icon ion-gear-b" href="#/transfers">

          </ion-tab>


        </ion-tabs>
    </ion-nav-view>
        <ion-content class="padding-top">
          <center><h1>Transfer Money To Another Card</h1></center>
            <ion-item>
                <ion-label>Sending Card</ion-label>
                    <select class="dropdown">
                        <option ng-repeat="x in currentUserCards" value= {{x.cardId}}>{{x.cardName}}</option>
                    </select>
            </ion-item>
            <ion-item>
              <ion-label>Amount $</ion-label>
              <input></input>
              <ion-label>USD</ion-label>
            </ion-item>
            <ion-item>
            <ion-label>Receiving Card</ion-label>
          <select class="dropdown">
              <option ng-repeat="x in currentUserCards" value= {{x.cardId}}>{{x.cardName}}</option>
          </select>
          </ion-item>
</ion-view>
