<ion-view view-title="Transfers" hide-back-button="true">
    <ion-nav-view>
        <ion-tabs class="tabs-icon-top">


          <!-- Pets Tab -->
          <ion-tab title="Home" icon="icon ion-home" href="#/home">

          </ion-tab>


          <!-- Adopt Tab -->
          <ion-tab title="Reports" icon="icon ion-ios-list-outline" href="#/reports">

          </ion-tab>


          <!-- About Tab -->
          <ion-tab title="Transfers" icon="icon ion-arrow-swap" href="#/transfers">

          </ion-tab>


        </ion-tabs>
    </ion-nav-view>
        <ion-content class="padding-top">
          <center><h1>Transfer Money To Another Card</h1></center>
      <ion-select
        ng-model="my_array_used_to_iterate_through_items"
        selected-text="'Selected text for label'"
        multiple-select=true
        animate="slide-in-up"
       />


</ion-view>
